.footer
{
	margin-top: auto;

	background-color: rgba(255, 255, 255, 1);
}

.footer .container
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;

	padding: 15px 50px;
}

.footer .legal-information
{
	width: 100%;

	text-align: center;
}

.footer .metrica
{
	margin-left: 25px;
}

@media screen and (max-width: 800px)
{
	.footer .container
	{
		flex-flow: column nowrap;
	}
	.footer .metrica
	{
		margin-top: 25px;
;
		margin-left: 0;
	}
}
