.footer
{
	margin-top: auto;
	
	background-color: rgba(255, 255, 255, 1);
}

.footer .container
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;

	padding: 0 50px
}

.footer a, .footer p
{
	color: #000000;
	padding: 15px 20px;
}

.footer a
{
	white-space: nowrap;
	transition: 0.6s all;
	
}

.footer a:hover
{
	background-color: rgba(204,204,204,1);
}

.footer .legal-information
{
	width: 100%;

	text-align: center;
}

.footer .metrica
{
	margin-left: 25px;
}

@media screen and (max-width: 800px)
{
	.footer .container
	{
		flex-flow: column nowrap;
	}
	.footer .metrica
	{
		margin-top: 25px;
		margin-left: 0;
	}
	.footer a, .footer p
	{
		text-align: center;
		width: 100%;
	}
}
