.footer
{
	margin-top: auto;
	
	background-color: rgba(255, 255, 255, 1);
}

.footer .container
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;

	padding: 0 50px
}

.footer a, .footer p
{
	color: #000000;
	padding: 15px 20px;
}

.footer a.card
{
	white-space: nowrap;
	transition: 0.6s all;
	
}

.footer a.card:hover
{
	background-color: rgba(204,204,204,1);
}

.footer .legal-information
{
	width: 100%;

	text-align: center;
}

.footer .metrica
{
	margin-left: 25px;
}

.copyright
{
	width: 100%;
	text-align: center;
	background-color: #272834;
	padding: 10px 0;
}

p.copyright-paragraph
{
	margin: 0px;
	padding: 0px;
	color: #fff;
}

a.copyright-src
{
	display: inline-block;
	color: #fff;
	padding: 0px;
	transition: all .3s;
}

.footer a.copyright-src:hover 
{
	color: rgb(138, 138, 138);
	transition: all .3s;
}

@media screen and (max-width: 800px)
{
	.footer .container
	{
		flex-flow: column nowrap;
	}
	.footer .metrica
	{
		margin-top: 25px;
		margin-left: 0;
	}
	.footer a, .footer p
	{
		text-align: center;
		width: 100%;
	}
}
