.header
{
	background-color: rgba(255, 255, 255, 1);
}

.header .container
{
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;

	padding: 15px 50px;
}

.header .header_info
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
}

.header .header_info > .h-i_heading
{
	font-size: 28px;
}
.header .header_info > .h-i_logo
{
	max-height: 55px;
	margin-right: 25px;
}

.header_act > .f-a_search-f
{
	position: relative;

	display: flex;
	flex-flow: row nowrap;
}

.header_act > .f-a_search-f > input[type=search]
{
	padding: 10px 40px 10px 15px;

	transition: 0.3s all;

	color: rgba(0,0,0,0.4);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 500rem;
}

.header_act > .f-a_search-f > input[type=submit]
{
	position: absolute;
	top: 0;
	right: 5px;

	width: 40px;
	height: 100%;

	transition: 0.3s all;

	opacity: 0.3;
	border: 0;
	background-color: transparent;
	background-image: url("../img/icons/search.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
}

.header_act > .f-a_search-f > input[type=search]:focus
{
	color: rgba(0,0,0,0.9);
	border: 1px solid rgba(0,0,0,0.7);
}
.header_act > .f-a_search-f > input[type=submit]:hover
{
	opacity: 1;
}

.header_act > .f-a_language
{
	font-size: 14px;
	font-weight: 500;

	width: 100%;
	margin-top: 15px;
	padding: 7px 25px;

	cursor: pointer;
	transition: 0.3s all;

	color: rgba(0,0,0,0.4);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 500rem;
	background-color: #FFFFFF;
}

.header_act > .f-a_language:hover
{
	color: #FFFFFF;
	border: 1px solid transparent;
	background-color: rgba(0,0,0,0.9);
}

@media screen and (max-width: 800px)
{
	.header .container
	{
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}
	.header .header_info
	{
		margin-bottom: 25px;
	}
}