.service-title
{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 35px;

	margin-bottom: 15px;

	text-align: center;
	text-transform: uppercase;
	word-wrap: break-word;
}

.service-text
{
	line-height: 25px;

/* margin-top: 20px; */

	text-indent: 20px;
}

.service-list
{
	line-height: 43px;

	margin-left: 20px;

	list-style-position: inside;
	list-style-type: circle;
}

.service-list li:last-child
{
	line-height: 25px;
}

.service-subtitle
{
	margin: 25px 0px 10px 0px;
}

.page-service-title
{
	font-size: 36px;
	font-weight: bold;
	position: relative;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;
	width: 100%;
	height: 100%;
	min-height: 600px;
	padding: 25px;
	transition: 1s all;
	text-align: center;
	text-transform: uppercase;
	background-position: center;
	background-size: cover;
	color: #fff;
}

.page-service-title h2
{
	z-index: 1;
	width: 100%;
	transition: 1s all;
	color:white;
	text-shadow: 2px 2px 0px #000000;
}


.page-service-title p
{
	font-size: 18px;
	margin: 25px;
}
