.to-project-page
{
	text-decoration: none;

	color: red;
}

.swiper-container
{
	width: 100%;
	height: 100%;
}

h1.title
{
	margin-top: 35px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 35px;
	text-transform: uppercase;
}

.swiper-slide
{
	font-size: 18px;

	width: 100%;
	padding: 0 50px;

	text-align: center;

	/* background: #FFFFFF; */
}

div.slider 
{
	background-color: #FFFFFF;
}

.slider-item
{
	padding: 50px 75px 35px 75px;

	
}

.c-main .services
{
	display: grid;

	grid-gap: 25px;
	grid-template-columns: 1fr 1fr 1fr;
}

.c-main .service
{
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 200px;
	min-height: 250px;
	padding: 25px;

	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
	background-position: center;
	background-size: cover;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.c-main .service::after
{
	position: absolute;

	width: 100%;
	height: 100%;

	content: "";
	transition: 0.6s all;

	background-color: rgba(0, 0, 0, 0.5);
}


.c-main .service:hover::after
{
	background-color: rgba(0, 0, 0, 0);
}

.c-main .service:hover > p
{
	opacity: 0;
}

.c-main .service > p
{
	font-size: 24px;
	font-weight: bold;

	z-index: 1	;

	transition: 1s all;

	opacity: 1;
	text-shadow: 2px 2px 0px #000000;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev
{
	right: 25px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next
{
	left: 25px;
}

.swiper-button-next, .swiper-button-prev
{
	color: #000000;
	text-shadow: 2px 1px 0px #FFFFFF;
}

.slider-item > h1
{
	text-transform: uppercase;
}

.slider-item > img
{
	width: 100%;
	max-height: 250px;
	margin: 15px 0;

	object-fit: cover;
	object-position: top center;
}

.slider-item > a
{
	font-size: 14px;
	font-weight: 500;

	display: inline-block;

	margin-top: 25px;
	padding: 7px 25px;

	cursor: pointer;
	transition: 0.3s all;

	color: rgba(0,0,0,0.4);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 500rem;
	background-color: #FFFFFF;
}

.slider-item > a:hover
{
	color: #FFFFFF;
	border: 1px solid transparent;
	background-color: rgba(0,0,0,0.9);
}

@media screen and (max-width: 1200px)
{
	.c-main .services
	{   
		grid-template-columns: 1fr 1fr;
    }
    .c-main .service > p
    {
        font-size: 2vw;
    }   
    .slider-item
    {
        padding: 35px 25px;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev
    {
        right: 20px;
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next
    {
        left: 20px;
    }
}

@media screen and (max-width: 900px)
{
	.c-main .services
	{
		grid-template-columns: 1fr;
    }
    .c-main .service > p
    {
        font-size: 3vw;
    }  
    .slider-item
    {
        padding: 25px 15px;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev
    {
        right: 15px;
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next
    {
        left: 15px;
    }
}

@media screen and (max-width: 600px)
{
    .c-main .service > p
    {
        font-size: 5vw;
	}
}
