.swiper-container
{
	height: 100%;
}

.content
{
	flex-grow: 1;

	/* margin: 25px 0; */
}

section.contacts
{
	margin: unset;

	/* background-color: #FFFFFF; */
	background-image: none;
}

.content .container
{
	display: flex;
	flex-flow: row nowrap;
}

.content .c-left
{
	flex-grow: 1;

	width: 100%;
}

.content .c-right
{
	position: sticky;
	top: 25px;

	align-self: flex-start;

	max-width: 250px;
	margin-left: 25px;
}

.content .c-news
{
	margin-top: 25px;
}

.c-main
{
	width: 100%;
	padding: 50px;

	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 30px 4px #fff;
}

h1.main-title-about
{
	text-align: center; 
	width: 100%; 
	font-size: 35px; 
	/* color: #000cff; */
	color: rgb(221, 221, 221);
	font-family: 'Comfortaa', bold;
	text-shadow: 10px 5px 5px #000;
	/* text-shadow: #20ff90 1px 1px 0, #cad5e2 2px 2px 0, 
                 #20ff90 3px 3px 0, #cad5e2 4px 4px 0, 
                 #20ff90 5px 5px 0; */
}

span.upper-text
{
	font-size: 50px;
	transition: all .3s;
}

.c-right
{
	/* overflow-x: hidden;
	overflow-y: scroll; */
	min-width: 250px;
	max-height: 600px;

	scrollbar-color: #FFFFFF transparent;
	scrollbar-width: thin;
}

.c-right::-webkit-scrollbar
{
	width: 0.5em;
}

.c-right::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.c-right::-webkit-scrollbar-thumb
{
	outline: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}

.c-news
{
	display: flex;
	flex-flow: row nowrap;

	padding: 25px 0;
}

.c-news > .news
{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-evenly;

	width: 100%;
	padding: 25px 40px;

	background-color: rgba(255, 255, 255, 1);

	box-shadow: inset 0px 0px 20px 2px #000;
}

.c-main, .c-right, .c-news > .news
{
	/* border-radius: 1em; */
}

.c-news > .news:nth-child(2)
{
	margin: 0 25px;
}

.c-news > .news .n-heading
{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 35px;
}

.c-news > .news .n-date
{
	font-size: 18px;
	line-height: 1.4;

	color: #333333;
	text-align: center;
}

.c-news > .news hr
{
	margin: 25px 0;
}

.c-product
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;

	height: 100%;
	min-height: 250px;

	border-radius: 0.5em;
	background-position: center;
	background-size: cover;
}

.c-product:last-child
{
	margin-bottom: 0;
}

.c-product > p, .c-product > a
{
	padding: 15px;

	text-align: center;

	color: #000000;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	background-color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1200px)
{
	.content .container
	{
		flex-flow: column nowrap;
	}
	.content .c-right
	{
		flex-grow: 1;

		width: 100%;
		max-width: 100%;
	}
	.c-news
	{
		flex-flow: row wrap;
	}
	.c-news > .news:nth-child(2)
	{
		margin: 25px 0;
	}
	.content .c-right
	{
		margin-left: 0;
	}
}

@media screen and (max-width: 380px)
{
	span.upper-text
	{
		font-size: 43px;
	}
}