@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

*, *:before, *:after, *::before, *::after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body
{
	width: 100%;
	min-width: 320px;
}

html
{
	height: 100%;
} 

body
{
	background-size: cover;
	background-image: url('../img/background.jpeg');
	min-height: 100%;
}

body, input, a
{
	font-family: "Roboto", sans-serif;
}

html, body, .container
{
	width: 100%;
}

a
{
	display: block;

	cursor: pointer;
	text-decoration: none;
}

ul
{
	list-style-type: none;
}

img
{
	object-fit: contain;
}

.container
{
	all: inherit;
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px;
}

/* VARIABLES */
:root 
{
	--main-color: #FFFFFFFF;
}