@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

*, *:before, *:after, *::before, *::after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body
{
	width: 100%;
	min-width: 320px;
}

html
{
	height: 100%;
} 


body
{
	display: flex;
	flex-flow: column nowrap;

	min-height: 100%;

	background-image: url("../img/background.jpg");
	background-size: contain;
	animation: bgAnimate 120s infinite;
	background-size: 100%;
	background-position: 100% 100%;
}

@keyframes bgAnimate
{
	from
	{
		background-size: 100%;
	}
	50%
	{
		background-size: 99%;
	}
	to
	{
		background-size: 100%;
	}
}
body, input, a, button
{
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

html, body, .container
{
	width: 100%;
}

a
{
	display: block;

	cursor: pointer;
	text-decoration: none;

	/* color: #FFFFFF; */
}

ul
{
	list-style-type: none;
}

img
{
	object-fit: contain;
}

.container
{
	/* all: inherit; */
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px;
}

hr
{
	margin: 0 auto;

	opacity: 0.2;
	border: 0;
	border-bottom: 1px solid black;
}

@media screen and (max-width: 800px)
{
	.container
	{
		padding: 25px;
	}
}

@media screen and (max-width: 450px)
{
	.container
	{
		padding: 15px;
	}
}

.c-main, .c-news > .news, .main-ul, .page-service-title, .switcher-content
{
	border-radius: 0.5em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}