.menu
{
	background-color: rgba(255, 255, 255, 1);
}

.menu .container
{
	padding: 15px 50px 0 50px;
}

.menu .container > ul
{
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: center;

	width: 100%;
	/* margin-top: 25px; */
}

.menu .container > ul li
{
	flex-grow: 1;
}

.menu .container > ul li a, .menu .container > ul li p
{
	font-size: 11px;
	font-weight: bold;
	width: 100%;
	padding: 20px 15px;
	min-height: 55px;
	cursor: pointer;
	transition: 0.5s all;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
	background-color: #FFFFFF;

	display: flex;
	justify-content: center;
    align-items: center;
}

.menu .container > ul li .dropdown-menu a, .menu .container > ul li .dropdown-menu p
{
	width: 300px;
	min-height: 0;
	font-weight: normal;
	padding: 15px 25px;
}

.menu .container > ul li a:hover, .menu .container > ul li p:hover
{
	background-color: rgba(204,204,204,1);
}

.dropdown-hover
{
	position: relative;
}

.dropdown-menu
{
	position: absolute;
	z-index: 5;
	left: 50%;
	top: 55px;
	display: none !important;
	overflow: hidden;
	transform: translateX(-50%);
}

.dropdown-hover:hover .dropdown-menu
{
	display: block !important;
}

@media screen and (max-width: 450px)
{
	.menu .container > ul
	{
		flex-flow: column nowrap;
	}
	.menu .container > ul li
	{
		width: 100%;
	}
	.menu .container
	{
		padding: 15px 25px 0 25px;
	}
	.dropdown-menu
	{
		width: 100%;
	}
	.menu .container > ul li .dropdown-menu a
	{
		width: 100%;
	}
}