.main-ul
{
	width: 100%;
	padding: 50px 50px 50px 100px;

	list-style-type: disc;

	background-color: #FFFFFF;
}

.main-ul a
{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;

	padding: 5px 15px;

	color: #000000;
}

.main-ul .all-services
{
	display: block;

/* min-width: 300px; */

	text-decoration: none;
}

.main-ul .daughter-ul
{
	margin-left: 30px;

	list-style-type: disc;
}

.main-ul .all-services:hover, .hover:hover
{
	background-color: rgb(67, 108, 245);
}

.main-ul .all-services:hover
{
	color: white;
}

.main-ul .hover:hover > a
{
	width: 100%;

	color: white;
}

@media screen and (max-width: 900px)
{
	.main-ul
	{
		padding: 50px 50px 50px 75px;
	}
	.main-ul a
	{
		font-size: 18px;
	}
}

@media screen and (max-width: 600px)
{
	.main-ul
	{
		padding: 50px;
		
	}
	.main-ul a
	{
		font-size: 16px;
	}
}
