.main-ul
{
	width: 100%;

	padding: 50px 50px 50px 100px;

	list-style-type: none;

	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0.5em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.main-ul a
{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
	padding: 10px 20px;
	margin: 5px 0;
	transition: all 0.4s;
	color: white;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	/* text-shadow: #CAD5E2 1px 1px 0,
				 #CAD5E2 2px 2px 0,
				 #CAD5E2 3px 3px 0 */
				 /* #CAD5E2 4px 4px 0,
				 #CAD5E2 5px 5px 0; */
	border-radius: 0.4em;
}

.main-ul a:hover
{
	background-color: rgba(0, 0, 0, 0.7);
}

.main-ul .all-services
{
	display: block;

/* min-width: 300px; */

	text-decoration: none;
}

.main-ul .daughter-ul
{
	width: calc(100% - 40px);
	list-style-type: none;
}

.main-ul .daughter-ul a 
{
	margin-left: 30px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
}

.main-ul .daughter-ul a:hover
{
	background-color: rgba(0, 0, 0, 0.6);
}

.main-ul .daughter-ul a::before
{
	content: "";
	position: absolute;
	height: calc(100% + 5px);
	width: 3px;
	left: -15px;
	top: -5px;
	background-color: rgba(0, 0, 0, 0.5);
}

.main-ul .daughter-ul a::after
{
	content: '';
	height: 3px;
	width: 12px;
	position: absolute;
	top: 20px;
	left: -12px;
	background-color: rgba(0, 0, 0, 0.5);
}

.main-ul .daughter-ul .last-hover a::before 
{
	height: 28px;
}

.main-ul .all-services, .hover
{
	
	transition: all 0.4s;
	color: white;
}

/* .main-ul .all-services:hover, .hover:hover
{
	transition: all 0.4s;
	
} */

.main-ul a:hover
{
	padding-left: 25px;
}

@media screen and (max-width: 900px)
{
	.main-ul
	{
		padding: 50px 50px 50px 75px;
	}
	.main-ul a
	{
		font-size: 18px;
	}
}

@media screen and (max-width: 600px)
{
	.main-ul
	{
		padding: 25px;
		padding-left: 45px;
	}
	.main-ul a
	{
		font-size: 16px;
	}
}
