.main-ul
{
	width: 100%;
	padding: 50px 50px 50px 100px;
	list-style-type: disc;
	background-color: #FFFFFF;
}

.main-ul a
{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;

	padding: 5px 15px;

	color: #000000;
	text-shadow:#cad5e2 1px 1px 0, 
				#cad5e2 2px 2px 0, 
				#cad5e2 3px 3px 0, 
				#cad5e2 4px 4px 0, 
				#cad5e2 5px 5px 0;
	transition: all 1s;
}

.main-ul .all-services
{
	display: block;

/* min-width: 300px; */

	text-decoration: none;
}

.main-ul .daughter-ul
{
	margin-left: 30px;

	list-style-type: disc;
}

.main-ul .all-services, .hover
{
	transition: all 0.3s;
}

.main-ul .all-services:hover, .hover:hover
{
	background-color: rgb(67, 108, 245);
	transition: all 0.2s;
}

.main-ul .all-services:hover
{
	color: white;
}

.main-ul .all-services:hover
{
	color: white;
	text-shadow:#5d5e5f 1px 1px 0, 
				#5d5e5f 2px 2px 0, 
				#5d5e5f 3px 3px 0, 
				#5d5e5f 4px 4px 0, 
				#5d5e5f 5px 5px 0,
				#5d5e5f 6px 6px 0,
				#5d5e5f 7px 7px 0,
				#5d5e5f 8px 8px 0,
				#5d5e5f 9px 9px 0,
				#5d5e5f 10px 10px 0,
				#5d5e5f 11px 11px 0;
	transition: textshadow 1s;
}

.main-ul .hover:hover > a
{
	width: 100%;

	color: white;
	text-shadow:#5d5e5f 1px 1px 0, 
				#5d5e5f 2px 2px 0, 
				#5d5e5f 3px 3px 0, 
				#5d5e5f 4px 4px 0, 
				#5d5e5f 5px 5px 0,
				#5d5e5f 6px 6px 0,
				#5d5e5f 7px 7px 0,
				#5d5e5f 8px 8px 0,
				#5d5e5f 9px 9px 0,
				#5d5e5f 10px 10px 0,
				#5d5e5f 11px 11px 0;
	transition: textshadow 1s;
}

@media screen and (max-width: 900px)
{
	.main-ul
	{
		padding: 50px 50px 50px 75px;
	}
	.main-ul a
	{
		font-size: 18px;
	}
}

@media screen and (max-width: 600px)
{
	.main-ul
	{
		padding: 50px;
		
	}
	.main-ul a
	{
		font-size: 16px;
	}
}
